<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <%- include ('../../partials/head') %>
        <form action="/comments/<%=selectedComment.id%>" method="POST" id="content">
            <div>
                <textarea 
                    id="content" 
                    name="content" 
                    row="3"
                    placeholder="New Comment"><%= selectedComment.content %>
                </textarea>
                <input type="submit" value="Update Comment"/>
            
                
             
                <input type="hidden" name="user" id="user" value=<%=selectedComment.user%>>
                <input type="hidden" name="image" id="image" value="<%=selectedComment.image%>">
            </div>
        </form>
x        <script src="" async defer></script>
    </body>
</html>