<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGramification</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body class="profile">
   <p class= 'username'><%= thisPage.username %></p>
   <p>
    <img class= 'profile-photo' src= '<%= thisPage.profImage %>'height="100px" width="100px">
</p>
<hr class="line">
<p class="photos-main"> 
    <% for (let i = 0; i < thisUser.length; i++) { %>
    <% const myImages = thisUser[i] %>
    <a href='/images/<%= myImages._id %>'><img class = 'user-photos' src= '<%= myImages.url %>'height= '200px' width= '200px' alt='image'></a>
    <% } %>
</p>
   
</body>