<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGramification</title>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/static/showStyle.css">
</head>
    <body>
        <h1>
            <a href="/user/<%= thisImage.user.id %>">
            <img class="profile-pic-top" src='<%= thisImage.user.profImage %>'>
        </a>
            <%= thisImage.user.username %>
        </h1>
        <hr>

        <main class="show-body">
                <img class= "show-page-image" src = "<%= thisImage.url %>">
                <div class="top-bar">
                    <div class="display-username">
                        <a href="/user/<%= thisImage.user.id %>">
                        <img class= "profile-pic" src="<%=thisImage.user.profImage%>"></a><%= thisImage.user.username %> 
                    </div>
                    
                    
                
                        
        
                    
                    <p class="likesNum"><%= thisImage.likes %> </p>
                    
                    <% if (user) {%>
                        <form id="like-btn-form" action="/likes/<%= thisImage.id%>?_method=PUT" method="POST">
                            <input 
                            id="like-btn" 
                            type="submit" 
                            value="♥️" 
                            class="btn btn-primary btn-lg"
                            <% if (thisImage.likedBy.some(obj => obj.id === user.id)) { %>
                                like-btn-liked
                                <% } else { %>
                                    like-btn-unliked
                                    <% }%>
                                    "/>        
                                </form>
                                <% } %>
                                
                            </div>
                            <div class="imageDescription">
                                <%= thisImage.description %>
                            </div>
                        </div>
                        <div>
                                <% if (user) {%>
                                    <% if (user.id === thisImage.user.id) { %>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Options
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/images/<%=thisImage._id%>/edit">Edit Post</a>
                                                <form method="POST" action="/images/<%=thisImage._id%>?_method=DELETE">
                                                    <button id="show-page-delete" class="btn btn-primary btn-lg">Delete post</button>
                                                </form>
                                            </div>
                                          </div>  
                                    <% } %>
                                <% } %>
                                <div>
                                <!-- NEW COMMENT FORM -->
                            <form action="/comments" method="POST" id="content" class="content-text">    
                                    <textarea 
                                    id="content" 
                                    name="content" 
                                    row="3"
                                    placeholder="New Comment">
                                </textarea>
                                <input type="hidden" name="image" id="image" value="<%= thisImage.id%>">
                                <input id="show-comment-btn" type="submit" value="Add Comment"/>     
                            </form> 
                            <ul>
                                <% for( let i = thisComments.length-1; i >= 0 ; i-- ) { %>
                                    
                                    <li><div class= "com-top-line">
                                        <a href="/user/<%= thisComments[i].user.id %>">
                                            <img src = <%= thisComments[i].user.profImage%> alt="profile image" class ="comment-profile-image" height='20px'; width='20px'></a> 
                                            <div class="commentUser">
                                                <%=thisComments[i].user.username%>
                                                
                                            </div>
                                            <% if (user) { %>                        
                                                <% if (thisComments[i].user.id === user.id) { %>
                                                    <form method="POST" action="/comments/<%=thisComments[i].id%>?_method=DELETE">
                                                        <input type="image" class="deleteCommentIcon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/International_tidyman.svg/170px-International_tidyman.svg.png" alt="delete comment"/>
                                                    </form>
                                                    
                                                    <% } %>
                                                    <% } %>
                                                    
                                                </div>
                                                <%= thisComments[i].content %>
                                                
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                                
                                
                                
                            </main>
                            <!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
